table {
    width: 100%;
}

table thead tr th {
    vertical-align: middle;
    background: grey;
    border: 1px solid black;
    border-radius: 5px;
}

table tbody tr td {
    vertical-align: middle;
    border: 1px solid black;
    border-radius: 5px;
}

table {
    border: 1px solid black;
    border-radius: 5px;
}